/*-------color-------*/
.cld { color: #293134; }
.bld { background-color: #293134; }

.clf { color: #E0E2E4; }
.blf { background-color: #E0E2E4; }

.clfd { color: #557799; }
.blfd { background-color: #557799; }

.cld2 { color: #34495e; }
.bld2 { background-color: #34495e; }

.clt { color: #148474; }
.blt { background-color: #148474; }

/*-------element-------*/
body {
	margin: 0;

	overflow: hidden;

	color: #E0E2E4;

	cursor: default;

	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;

	font-family: "Microsoft YaHei";
}

div {
	display: flex;

	flex-direction: row;
	flex-wrap: nowrap;

	justify-content: center;
	align-items: center;
}
input, span {
	outline: none;
}
input {
	border: 1px solid transparent;
}
input:focus {
	border-bottom: 1px solid #E0E2E4;
}
a {
	text-decoration: none;
}
a:visited {
	color: #E0E2E4;
}

/*-------samp-------*/
samp {
	border-bottom: 1px dashed #888888;
	cursor: help;
}

/*-------app-------*/
#app {
	width: 100%;
	height: 100%;

	background-color: green;
}
#maskBox{
	width: 100%;
	height: 100%;
}

/*-------tabMain-------*/
.tabBox.Main>.headBox {
	width: 100%;
	height: 34px;

	border: 2px solid transparent;
	border-bottom: 2px solid #222222;

	overflow: hidden;
}
.tabBox.Main>.headBox>.left {
	width: 100%;
	height: 100%;

}
.tabBox.Main>.headBox>.left>.head, .tabBox.Main>.headBox>.right>.head {
	border: 2px solid #34495e;
	border-radius: 4px;

	margin: 4px;
	padding: 1px 7px;

	color: #E0E2E4;

	cursor: pointer;
}
.tabBox.Main>.headBox>.left>.head:hover, .tabBox.Main>.headBox>.right>.head:hover {
	border-bottom: 2px solid #148474;
}
.tabBox.Main>.headBox>.left>.head.active, .tabBox.Main>.headBox>.right>.head.active {
	border: 2px solid #148474;
	background-color: #148474;
}
.tabBox.Main>.bodyBox {
	width: 100%;
	height: 95%;

	flex: 1;
}
.tabBox.Main>.bodyBox>.body, .tabBox.Main>.bodyBox>.body>div {
	width: 100%;
	height: 100%;
}