.clrBack { color: #293134; }
.blrBack { background-color: #293134; }

.clrFont { color: #E0E2E4; }
.blrFont { background-color: #E0E2E4; }

.clrFontDark { color: #557799; }
.blrFontDark { background-color: #557799; }

.clrNavi { color: #34495e; }
.blrNavi { background-color: #34495e; }

.clrTabs { color: #293134; }
.blrTabs { background-color: #293134; }