.hr { border-bottom: 1px solid #E0E2E4; }

.whf { width: 100%; height: 100%; }

.wf { width: 100%; }

.hf { height: 100%; }
.h81p { height: 81%; }

.w2 { width: 32% }
.w3 { width: 27% }
.w4 { width: 16% }

.m3 { margin: 3px; }
.p10 { padding: 10px; }

.tc { text-align: center; }

.mw { min-height: 0px; }

.hide { display: none; }

.fsb { font-weight: bold; }
.fs11 { font-size: 11px; }
.fs20 { font-size: 20px; }
.fs24 { font-size: 24px; }

.cud { cursor: default; }

.selable {
	user-select: text;
	-moz-user-select: text;
	-webkit-user-select: text;
	cursor: text;
}