body {
	margin: 0;

	overflow: hidden;

	color: #E0E2E4;

	cursor: default;

	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;

	font-family: "Microsoft YaHei";
}

div {
	display: flex;
}
input, span {
	outline: none;
}
input {
	border: 1px solid transparent;

	font-size: 16px;
}
input:focus {
	border-bottom: 1px solid #E0E2E4;
}
a {
	text-decoration: none;
}

/*-------app-------*/
#app {
	height: 100%;
	width: 100%;

	background-color: green;
}

#mainBox {
	height: 100%;
	width: 100%;

	flex: 1
}
#naviBox {
	height: 100%;
	width: 450px;

	overflow: hidden;
	overflow-y: auto;
}

/*-------recoBox-------*/
.recoBox {
	width: 100%;
	height: 95%;
}
.recoBox>.reco {
	border: 2px solid transparent;
	border-bottom: 2px solid #111111;
	border-radius: 4px;

	width: 99%;
	height: 24%;
	max-height: 150px;
}

.recoBox>.reco>.thumbBox {
	width: 15%;
	height: 100%;
}
.recoBox>.reco>.thumbBox>.thumb {
	max-height: 100%;
	max-width: 100%;

	width: auto;
}

.recoBox>.reco>.databox {
	width: 30%;
	height: 100%;
}
.recoBox>.reco>.databox>.nameBox {
	width: 100%;
	height: 17%;
}
.recoBox>.reco>.databox>.nameBox>.name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.recoBox>.reco>.databox>.infoBox {
	width: 100%;
	height: 85%;
}
.recoBox>.reco>.databox>.infoBox>table {
	border-radius: 4px;
	border-collapse:collapse;
}
.recoBox>.reco>.databox>.infoBox>table td {
	text-align: center;
	border: 2px solid #34495e;
}

.recoBox>.reco>.skillBox {
	width: 55%;
	height: 100%;
}






.NaviColumnSpace {
	width: 90%;
	height: 24px;
	min-height: 24px;
}
.NaviColumn {
	width: 90%;
	height: auto;
	min-height: 45px;
}
.NaviColumn2x {
	width: 90%;
	height: auto;
	min-height: 90px;
}
.NaviColumn3x {
	width: 90%;
	height: auto;
	min-height: 135px;
}

.Toggle {
	margin: 3px;
	min-width: 30px;

	border: 2px solid #34495e;
	color: #E0E2E4;

	padding: 4px;
	padding-left: 3px;
	padding-right: 3px;

	border-radius: 4px;

	text-align: center;

	cursor: pointer;
}
.Toggle.on, .Toggle.on:hover, .Toggle.off:hover {
	border-color: #557799;

	background-color: #557799;
}
.Toggle.off {
	border-color: #4a6b8c;
}
.Toggle.min {
	min-width: 24px;
}

.Button {
	margin: 3px;
	min-width: 30px;

	border: 2px solid #557799;

	padding: 4px;
	padding-left: 3px;
	padding-right: 3px;

	border-radius: 4px;

	text-align: center;

	color: #E0E2E4;
	background-color: #557799;

	cursor: pointer;
}

.Input {
	margin: 3px;

	min-width: 30px;
	height: 33px;

	border: 2px solid #557799;

	padding: 4px;
	padding-left: 3px;
	padding-right: 3px;

	border-radius: 4px;

	text-align: center;
	color: #557799;
	font-size: 17px;

	cursor: auto;
}

.TabHeader.RightNavi {
	width: 100%;
	height: 45px;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);

	background-color: #34495e;
}
.TabHead.RightNavi {
	width: 100%;

	border: 2px solid #34495e;

	margin: 0;
	margin-right: 2px;

	color: #E0E2E4;

	cursor: pointer;
}
.TabHead.RightNavi:hover {
	border-bottom: 2px solid #148474;
}
.TabHead.RightNavi.active {
	border-radius: 4px;
	border: 2px solid #148474;
	background-color: #148474;
}
.TabItem.RightNavi {
	height: 80%;
	width: 100%;
}

.TabHeader.RightNavi2 {
	width: 90%;
	height: 34px;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);

	background-color: #34495e;
}
.TabHead.RightNavi2, .TabHead.RightNavi3 {
	width: 100%;

	border: 2px solid #34495e;

	margin: 0;
	margin-right: 2px;

	color: #E0E2E4;

	cursor: pointer;
}
.TabHead.RightNavi2:hover {
	border-top: 2px solid #148474;
}
.TabHead.RightNavi2.active, .TabHead.RightNavi3:hover, .TabHead.RightNavi3.active {
	border-radius: 4px;
	border: 2px solid #148474;
	background-color: #148474;
}
.TabItem.RightNavi2 {
	height: 92%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: visible;
}
.TabItem.RightNavi3 {
	height: 50%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: visible;
}

.CondBar {
	width: 77%;
	height: auto;
	border-left: 2px solid #E0E2E4;
	padding-left: 4px;
}
.CondBar2 {
	width: 77%;
	height: auto;
}

.Conds {
	width: 100%;
	height: 14%;
}

.Pager {
	width: 100%;
	height: 5%;
}



.PagePrev, .PageNext {
	width: 33%;

	cursor: pointer;
}
.PageCount {
	width: 33%;
}
.PageCount>span {
	padding-top: 1px;
}
.Page {
	width: 40px;

	text-align: center;
	background-color: #293134;
	color: #E0E2E4;

	cursor: auto;
}
.Page:focus {
	border-bottom: 1px solid #E0E2E4;
}

.TabHeader.Skill {
	width: 12%;
	height: 100%;
}
.TabHead.Skill {
	margin: 3px;
	min-width: 30px;

	padding: 4px;
	padding-left: 3px;
	padding-right: 3px;

	border: 2px solid #34495e;
	border-radius: 4px;

	color: #557799;

	text-align: center;

	cursor: pointer;
}
.TabHead.Skill.active {
	border: 2px solid #557799;

	color: #E0E2E4;
	background-color: #557799;
}
.TabItem.Skill {
	width: 85%;
	height: 95%;
	border-radius: 4px;
	overflow: hidden;
	font-size: 14px;
}
kqud {
	border-bottom: 1px dashed #888888;
	cursor: help;
}

.bfrTextRoles {
	display: block;
	height: 4px;
}

.TextRole {
	display: block;
	border-left: 14px solid transparent;
}

.Tips {
	position: absolute;

	right: 0;
	bottom: 0;

	width: 32%;

	font-size: 14px;
	color: #E0E2E4;
}

.TabHeader.SkillContent {
	width: 99%;
	height: 30%;
}
.TabHead.SkillContent {
	width: 100%;
	height: 100%;

	border: 2px solid transparent;
	border-radius: 4px 4px 0px 0px;

	text-align: center;
}
.TabHead.SkillContent.active {
	border: 2px solid #148474;

	background-color: #148474;
}
.TabHeader.SkillContent>.TabHead:first-child {
	width: 24%;
	margin-left: -2px;
}
.TabHeader.SkillContent>.TabHead:last-child {
	width: 100%;
	margin-right: -2px;
}

.TabItem.SkillContent {
	width: 100%;
	height: 100%;

	overflow-x: hidden;
	overflow-y: auto;
}
.TabBox.SkillContent {
	width: 99%;
	height: 65%;

	border: 2px solid #148474;

	overflow: hidden;
}

.TabHead.Serv {
	margin: 3px;
	min-width: 30px;

	border: 2px solid #34495e;
	color: #557799;

	padding: 4px;
	padding-left: 3px;
	padding-right: 3px;

	border-radius: 4px;

	text-align: center;

	cursor: pointer;


}
.TabHead.Serv.active {
	border: 2px solid #557799;

	color: #E0E2E4;
	background-color: #557799;
}