.clrBack { color: #293134; }
.blrBack { background-color: #293134; }

.clrFont { color: #E0E2E4; }
.blrFont { background-color: #E0E2E4; }

.clrNavi { color: #0D1C22; }
.blrNavi { background-color: #0D1C22; }