body {
	margin: 0;

	cursor: default;

	overflow: hidden;

	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.Frame {
	width: 100%;
	height: 100%;

	font-family: "Microsoft YaHei";
}

.Main {
	width: 66%;
	height: 100%;
}
.Navi {
	width: 34%;
	height: 100%;

	overflow-x: hidden;
	overflow-y: auto;
}

.NaviColumnSpace {
	width: 90%;
	height: 24px;
	min-height: 24px;
}
.NaviColumn {
	width: 90%;
	height: auto;
	min-height: 45px;
}
.NaviColumn2x {
	width: 90%;
	height: auto;
	min-height: 90px;
}
.NaviColumn3x {
	width: 90%;
	height: auto;
	min-height: 135px;
}

.Button {
	margin: 3px;
	min-width: 30px;

	border: 2px solid #34495e;

	padding: 4px;
	padding-left: 3px;
	padding-right: 3px;

	border-radius: 4px;

	text-align: center;

	cursor: pointer;
}
.Button.on {
	border: 2px solid #5f7f9f;

	color: #E0E2E4;
	background-color: #5f7f9f;
}
.Button.off {
	color: #5f7f9f;
}
.Button.min {
	min-width: 14px;
}

.TabHeader {
	width: 100%;
	height: 45px;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);

	background-color: #34495e;
}
.TabHead {
	border: 2px solid #34495e;

	margin: 0;
	margin-right: 2px;

	color: #E0E2E4;

	cursor: pointer;
}
.TabHead:hover {
	border-bottom: 2px solid #1ABC9C;
}
.TabHead.active {
	border-radius: 4px;
	border: 2px solid #1ABC9C;
	background-color: #1ABC9C;
}

.CondBar {
	width: 77%;
	height: auto;
	border-left: 2px solid #E0E2E4;
}