.Popup {
	display: none;
	position: fixed;

	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	height: 500px;
	width: 500px;

	background-color: black;
}

.TabHeader.SkillContent {
	width: 99%;
	height: 23%;

	box-shadow: 0 1px 4px rgba(255,255,255,0.1);
}
.TabHead.SkillContent {
	width: 100%;

	border: 2px solid transparent;
	border-radius: 4px 4px 0px 0px;

	text-align: center;
}
.TabHead.SkillContent.active {
	border: 2px solid #148474;

	background-color: #148474;
}
.TabItem.SkillContent {
	width: 94%;
	height: 100%;

	padding: 5px 14px;

	overflow-x: hidden;
	overflow-y: auto;
}
.TabBox.SkillContent {
	width: 99%;
	height: 82%;

	overflow: hidden;
}