.flex {
	display: flex;
}
.iflex {
	display: inline-flex;
}

/*justify-content*/
.flex.jcs {
	justify-content: flex-start;
}
.flex.jce {
	justify-content: flex-end;
}
.flex.jcc {
	justify-content: center;
}
.flex.jcb {
	justify-content: space-between;
}
.flex.jca {
	justify-content: space-around;
}

/*align-items*/
.flex.ais {
	align-items: flex-start;
}
.flex.aie {
	align-items: flex-end;
}
.flex.aic {
	align-items: center;
}
.flex.aib {
	align-items: baseline;
}
.flex.aih {
	align-items: stretch;
}

/*flex-direction*/
.flex.drr {
	flex-direction: row;
}
.flex.drrr {
	flex-direction: row-reverse;
}
.flex.drc {
	flex-direction: column;
}
.flex.drcr {
	flex-direction: column-reverse;
}

/*flex-wrap*/
.flex.wpn {
	flex-wrap:  nowrap;
}
.flex.wpw {
	flex-wrap:  wrap;
}
.flex.wpwr {
	flex-wrap:  wrap-reverse;
}

/*align-content*/
.flex.acs {
	align-content: flex-start;
}
.flex.ace {
	align-content: flex-end;
}
.flex.acc {
	align-content: center;
}
.flex.acb {
	align-content: space-between;
}
.flex.aca {
	align-content: space-around;
}
.flex.ach {
	align-content: stretch;
}