<!html>
<html>
	<head>
		<title>Kairi Query | 乖离性百万亚瑟王数据站</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="Content-Language" content="zh-CN">
		<meta name="keywords" content="乖离性百万亚瑟王,MA,Kairi Query,乖離,卡牌">
		<meta name="description" content="基于文件的乖离性MA卡牌查询站----Kairi Query">
		<meta name="viewport" content="width=768, initial-scale=1.0">

		<link href="pub/css/rack.css" rel="stylesheet">
		<link href="kq/css/style.css" rel="stylesheet">
	</head>
	<body>
		<div id="app" class="jcs">
			<div class="mainBox blrBack drc">
				<div class="recoBox drc jcs ais acs wpw">
					<div class="reco drc jcs ais acs wpw" v-for="(reco, ri) of recos">
						<div class="thumbBox">
							<img class="thumb" :src="app.imgSrc[ri]" @error="imgError">
						</div>
						<div class="dataBox drc jca">
							<span class="title sel">{{'<'+reco.title+'>'}}</span>
							<span class="name sel">{{reco.name}}</span>
							<div>
								<span>{{reco.job}}</span>&nbsp;&nbsp;
								<span>{{reco.attr}}</span>&nbsp;&nbsp;
								<span>{{reco.kind}}</span>&nbsp;&nbsp;
								<span>{{reco.rare}}</span>&nbsp;&nbsp;
								<span>{{reco.cost}}</span>C&nbsp;&nbsp;
								<span>{{reco.star || ''}}</span>
							</div>
								<table width="100%" class="clrFont">
									<tr>
										<td width="25%">HP</td><td width="25%">{{reco.hp}}</td>
										<td width="25%">HQ</td><td width="25%">{{reco.hq}}</td>
									</tr>
									<tr>
										<td width="25%">AD</td><td width="25%">{{reco.ad}}</td>
										<td width="25%">AP</td><td width="25%">{{reco.ap}}</td>
									</tr>
								</table>
						</div>
						<div class="skillBox jca">
							<div class="tabBox Skill">
								<div class="headBox drc">
									<div class="head" @click="Vue.set(tab.skillTab, reco.id, 1)" :class="{ active: tab.skillTab[reco.id]==1 }">觉醒</div>
									<div class="head" @click="Vue.set(tab.skillTab, reco.id, 2)" :class="{ active: tab.skillTab[reco.id]==2 }">支援</div>
									<div class="head" @click="Vue.set(tab.skillTab, reco.id, 3)" :class="{ active: tab.skillTab[reco.id]==3 }">普通</div>
								</div>
								<div class="item tabBox SkillContent drc jcs" v-if="tab.skillTab[reco.id] == 1">
									<div class="headBox jca">
										<div
											class="head"
											v-for="(skill, si) of reco.skill.awaken"
											@click="Vue.set(tab.skillAwaken, reco.id, si)"
											:class="{ active: tab.skillAwaken[reco.id] == si }"
											:style="{ width: ((!skill.cond && si > 0)? '20%' : undefined) }"
										>
											<div class="sel" v-html="skill.cond || '无'"></div>
										</div>
									</div>
									<div class="itemBox">
										<div class="item drc jcs ais" v-for="(skill, si) of reco.skill.awaken" v-if="tab.skillAwaken[reco.id]==si">
											<span class="clear"></span>
											<span class="role sel" v-for="content of skill.content" v-html="content || '无'"></span>
											<span class="clear"></span>
										</div>
									</div>
								</div>
								<div class="item tabBox SkillContent drc jcs" v-if="tab.skillTab[reco.id] == 2">
									<div class="headBox jca">
										<div
											class="head"
											v-for="(skill, si) of reco.skill.suport3"
											@click="Vue.set(tab.skillSuport3, reco.id, si)"
											:class="{ active: tab.skillSuport3[reco.id] == si }"
											:style="{ width: ((!skill.cond && si > 0)? '20%' : undefined) }"
										>
											<div class="sel" v-html="skill.cond || '无'"></div>
										</div>
									</div>
									<div class="itemBox">
										<div class="item drc jcs ais" v-for="(skill, si) of reco.skill.suport3" v-if="tab.skillSuport3[reco.id]==si">
											<span class="clear"></span>
											<span class="role sel" v-for="content of skill.content" v-html="content || '无'"></span>
											<span class="clear"></span>
										</div>
									</div>
								</div>
								<div class="item tabBox SkillContent drc jcs" v-if="tab.skillTab[reco.id] == 3">
									<div class="headBox jca">
										<div
											class="head"
											v-for="(skill, si) of reco.skill.normal"
											@click="Vue.set(tab.skillNormal, reco.id, si)"
											:class="{ active: tab.skillNormal[reco.id] == si }"
											:style="{ width: ((!skill.cond && si > 0)? '20%' : undefined) }"
										>
											<div class="sel" v-html="skill.cond || '无'"></div>
										</div>
									</div>
									<div class="itemBox">
										<div class="item drc jcs ais" v-for="(skill, si) of reco.skill.normal" v-if="tab.skillNormal[reco.id]==si">
											<span class="clear"></span>
											<span class="role sel" v-for="content of skill.content" v-html="content || '无'"></span>
											<span class="clear"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="pageBox jcb">
					<div class="prev" @click="query(pageNow-1)">上一页</div>
					<div class="count">
						第<input id="Page" ref="pager" class="Page" type="text" v-model.number="pageNow" @keyup.enter="query(pageNow)"></input>/&nbsp;<span id="RecordPageMax">{{pageMax}}</span>&nbsp;页
					</div>
					<div class="next" @click="query(pageNow+1)">下一页</div>
				</div>
			</div>
			<div class="tabBox Dash drc blrNavi">
				<div class="headBox jca aih">
					<div class="head" @click="tab.dash = 1" :class="{ active: tab.dash == 1 }">基本筛选</div>
					<div class="head" @click="tab.dash = 2" :class="{ active: tab.dash == 2 }">技能筛选</div>
					<div class="head" @click="tab.dash = 3" :class="{ active: tab.dash == 3 }">留言/公告</div>
					<div class="head" @click="tab.dash = 4" :class="{ active: tab.dash == 4 }">摸~</div>
				</div>
				<div class="item drc jcs" v-if="tab.dash == 1">
					<div class="NaviColumn hr jcb wpw">
						<div>
							<a class="Toggle" :class = "suportMode? 'on': 'off'" @click="suportModeApply">支援</a>
							<a class="Toggle" :class = "prioMode? 'on': 'off'" @click="prioModeApply">PVP</a>
						</div>
						<div class="tabBox serv">
							<span>服务器：</span>
							<div class="head" @click="serv = 'cn'; query();" :class="{ active: serv == 'cn' }">国</div>
							<div class="head" @click="serv = 'jp'; query();" :class="{ active: serv == 'jp' }">日</div>
							<div class="head" @click="serv = 'ps'; query();" :class="{ active: serv == 'ps' }">PS</div>
							<div class="head" @click="serv = 'tw'; query();" :class="{ active: serv == 'tw' }">台</div>
							<div class="head" @click="serv = 'kr'; query();" :class="{ active: serv == 'kr' }">韩</div>
						</div>
					</div>
					<div class="NaviColumn jcb wpw">
						<div class="CondBar2 jca wpw">
							<input id="CondName" ref="condName" class="wf" type="text" placeholder="名称或称号" v-model="word"></input>
						</div>
						<a id="Search" class="w4" @click="query">搜索</a>
					</div>
					<div class="NaviColumn fs12 hr jcs wpw" style="color: antiquewhite;">
						阿蒂拉30连三次10连全金；祸不单行，黄金律是跪定了<br>
						部分筛选有严重BUG，先撤下了，以后再慢慢重构。
					</div>
					<div class="NaviColumn2x jcb wpw">
						<a class="w4 Toggle" @click="toggleAll('rare')">稀有度</a>
						<div class="CondBar jca wpw">
							<div class="wf jca wpw">
								<a class="Toggle" v-for="c of conds.rare" v-if="c.g == 0" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
							</div>
							<div class="wf jca wpw">
								<a class="Toggle" v-for="c of conds.rare" v-if="c.g == 1" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
							</div>
						</div>
					</div>
					<div class="NaviColumn jcb wpw">
						<a class="w4 Toggle" @click="toggleAll('job')">职业</a>
						<div class="CondBar jca wpw">
							<a class="Toggle" v-for="c of conds.job" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
						</div>
					</div>
					<div class="NaviColumn jcb wpw">
						<a class="w4 Toggle" @click="toggleAll('cost')">COST</a>
						<div class="CondBar jca wpw">
							<a class="Toggle min" v-for="c of conds.cost" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
						</div>
					</div>
					<div class="NaviColumn2x jcb wpw">
						<a class="w4 Toggle" @click="toggleAll('attr')">属性</a>
						<div class="CondBar jca wpw">
							<div class="wf jca wpw">
								<a class="Toggle" v-for="c of conds.attr" v-if="c.g == 0" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
							</div>
							<div class="wf jca wpw">
								<a class="Toggle" v-for="c of conds.attr" v-if="c.g == 1" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
							</div>
							<div class="wf jca wpw">
								<a class="Toggle" v-for="c of conds.attr" v-if="c.g == 2" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
							</div>
						</div>
					</div>
					<div class="NaviColumn jcb wpw">
						<a class="w4 Toggle" title="等于卡面右上角一个字的技能" @click="toggleAll('skillKind')">技能</a>
						<div class="CondBar jca wpw">
							<a class="Toggle" v-for="c of conds.skillKind" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
						</div>
					</div>
				</div>
				<div class="item tabBox skillType drc jcs" v-if="tab.dash == 2">
					<div class="NaviColumn hr fs11 jcs wpw">
						你知道吗？<br>
						COST、属性和职业是“技能”的属性而不是“卡牌”的。<br>
						例如B叔在歌姬卡组中是支援卡，在其他卡组是治疗卡。
					</div>
					<!--<div class="NaviColumn hr jcs wpw">常用标签</div>
					<div class="NaviColumn jca">
						<div class="Toggle" v-for="c of conds.common" v-if="c.g == 0" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</div>
					</div>-->
					<!--<div class="NaviColumn hr jca">
						<div class="Toggle" v-for="c of conds.common" v-if="c.g == 1" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</div>
					</div>-->
					<div class="headBox jca aih">
						<div class="head" @click="tab.skillFilter = 1" :class="{ active: tab.skillFilter == 1 }">攻击</div>
						<div class="head" @click="tab.skillFilter = 2" :class="{ active: tab.skillFilter == 2 }">治疗</div>
						<div class="head" @click="tab.skillFilter = 3" :class="{ active: tab.skillFilter == 3 }">缓回</div>
						<div class="head" @click="tab.skillFilter = 4" :class="{ active: tab.skillFilter == 4 }">支援</div>
						<div class="head" @click="tab.skillFilter = 5" :class="{ active: tab.skillFilter == 5 }">防御</div>
						<div class="head" @click="tab.skillFilter = 6" :class="{ active: tab.skillFilter == 6 }">弱化</div>
					</div>
					<div class="headBox hr jca aih">
						<div class="head" @click="tab.skillFilter = 7" :class="{ active: tab.skillFilter == 7 }">五毒</div>
						<div class="head" @click="tab.skillFilter = 8" :class="{ active: tab.skillFilter == 8 }">嘲讽</div>
						<div class="head" @click="tab.skillFilter = 9" :class="{ active: tab.skillFilter == 9 }">追伤</div>
						<div class="head" @click="tab.skillFilter = 10" :class="{ active: tab.skillFilter == 10 }">耐性</div>
						<div class="head" @click="tab.skillFilter = 11" :class="{ active: tab.skillFilter == 11 }">减耐</div>
						<div class="head" @click="tab.skillFilter = 12" :class="{ active: tab.skillFilter == 12 }">其他</div>
					</div>
					<div class="item h81p clrFont drc jcs wpw" v-if="tab.skillFilter == 1">
						<div class="NaviColumn jcb wpw">
							<a class="w4 Toggle" @click="toggleAll('attatarget')">目标</a>
							<div class="CondBar jca">
								<a class="wf Toggle" v-for="c of conds.attatarget" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
							</div>
						</div>
						<div class="NaviColumn jcb wpw">
							<a class="w4 Toggle" @click="toggleAll('attatype')">类型</a>
							<div class="CondBar jca">
								<a class="wf Toggle" v-for="c of conds.attatype" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
							</div>
						</div>
						<div class="NaviColumn jcb wpw">
							<a class="w4 Toggle" @click="toggleAll('attatime')">次数</a>
							<div class="CondBar jca">
								<a class="wf Toggle" v-for="c of conds.attatime" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
							</div>
						</div>
						<div class="NaviColumn jcb wpw">
							<a class="w4 Toggle" @click="toggleAll('attaeffect')"><kqud title="必须与攻击一起使用的攻击特效">特效</kqud></a>
							<div class="CondBar jca">
								<a class="wf Toggle" v-for="c of conds.attaeffect" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
							</div>
						</div>
					</div>
					<div class="item clrFont drc jcs wpw" v-if="tab.skillFilter == 2">
						<div class="NaviColumn jcb wpw">
							<a class="w4 Toggle" @click="toggleAll('healtarget')">目标</a>
							<div class="CondBar jca">
								<a class="wf Toggle" v-for="c of conds.healtarget" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
							</div>
						</div>
						<div class="NaviColumn jcb wpw">
								<a class="w4 Toggle" @click="toggleAll('healparam')">参数</a>
								<div class="CondBar jca">
									<a class="wf Toggle" v-for="c of conds.healparam" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
								</div>
						</div>
					</div>
					<div class="item clrFont drc jcs wpw" v-if="tab.skillFilter == 3">
						<div class="NaviColumn jcb wpw">
							<a class="w4 Toggle" @click="toggleAll('regentarget')">目标</a>
							<div class="CondBar jca">
								<a class="wf Toggle" v-for="c of conds.regentarget" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
							</div>
						</div>
						<div class="NaviColumn jcb wpw">
							<a class="w4 Toggle" @click="toggleAll('regenturn')">回合</a>
							<div class="CondBar jca">
								<a class="wf Toggle" v-for="c of conds.regenturn" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
							</div>
						</div>
					</div>
					<div class="item clrFont drc jcs wpw" v-if="tab.skillFilter == 4">
						<div class="NaviColumn jcb wpw">
							<a class="w4 Toggle" @click="toggleAll('supotarget')">目标</a>
							<div class="CondBar jca">
								<a class="wf Toggle" v-for="c of conds.supotarget" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
							</div>
						</div>
						<div class="NaviColumn jcb wpw">
							<a class="w4 Toggle" @click="toggleAll('supoturn')">回合</a>
							<div class="CondBar jca">
								<a class="wf Toggle" v-for="c of conds.supoturn" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
							</div>
						</div>
						<div class="NaviColumn jcb wpw">
							<a class="w4 Toggle" @click="toggleAll('supoparam')">属性</a>
							<div class="CondBar jca">
								<a class="wf Toggle" v-for="c of conds.supoparam" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
							</div>
						</div>
						<div class="NaviColumn jcb wpw">
							<a class="w4 Toggle" @click="toggleAll('supotype')">类型</a>
							<div class="CondBar jca">
								<a class="wf Toggle" v-for="c of conds.supotype" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
							</div>
						</div>
					</div>
					<div class="item clrFont drc jcs wpw" v-if="tab.skillFilter == 5">
						<div class="NaviColumn jcb wpw">
							<a class="w4 Toggle" @click="toggleAll('defetarget')">目标</a>
							<div class="CondBar jca">
								<a class="wf Toggle" v-for="c of conds.defetarget" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
							</div>
						</div>
						<div class="NaviColumn jcb wpw">
							<a class="w4 Toggle" @click="toggleAll('defeturn')">回合</a>
							<div class="CondBar jca">
								<a class="wf Toggle" v-for="c of conds.defeturn" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
							</div>
						</div>
						<div class="NaviColumn jcb wpw">
							<a class="w4 Toggle" @click="toggleAll('defeparam')">属性</a>
							<div class="CondBar jca">
								<a class="wf Toggle" v-for="c of conds.defeparam" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
							</div>
						</div>
						<div class="NaviColumn jcb wpw">
							<a class="w4 Toggle" @click="toggleAll('defetype')">类型</a>
							<div class="CondBar jca">
								<a class="wf Toggle" v-for="c of conds.defetype" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
							</div>
						</div>
					</div>
					<div class="item clrFont drc jcs wpw" v-if="tab.skillFilter == 6">
						<div class="NaviColumn jcb wpw">
							<a class="w4 Toggle" @click="toggleAll('jammtarget')">目标</a>
							<div class="CondBar jca">
								<a class="wf Toggle" v-for="c of conds.jammtarget" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
							</div>
						</div>
						<div class="NaviColumn jcb wpw">
							<a class="w4 Toggle" @click="toggleAll('jammturn')">回合</a>
							<div class="CondBar jca">
								<a class="wf Toggle" v-for="c of conds.jammturn" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
							</div>
						</div>
						<div class="NaviColumn jcb wpw">
							<a class="w4 Toggle" @click="toggleAll('jammparam')">属性</a>
							<div class="CondBar jca">
								<a class="wf Toggle" v-for="c of conds.jammparam" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
							</div>
						</div>
						<div class="NaviColumn jcb wpw">
							<a class="w4 Toggle" @click="toggleAll('jammtype')">类型</a>
							<div class="CondBar jca">
								<a class="wf Toggle" v-for="c of conds.jammtype" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
							</div>
						</div>
					</div>
					<div class="item clrFont drc jcs wpw" v-if="tab.skillFilter == 7">
						<div class="NaviColumn jcb wpw">
							<a class="w4 Toggle" @click="toggleAll('dottarget')">目标</a>
							<div class="CondBar jca">
								<a class="wf Toggle" v-for="c of conds.dottarget" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
							</div>
						</div>
						<div class="NaviColumn jcb wpw">
							<a class="w4 Toggle" @click="toggleAll('dottype')">属性</a>
							<div class="CondBar jca">
								<a class="wf Toggle" v-for="c of conds.dottype" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
							</div>
						</div>
						<div class="NaviColumn jcb wpw">
							<a class="w4 Toggle" @click="toggleAll('dotturn')">回合</a>
							<div class="CondBar jca">
								<a class="wf Toggle" v-for="c of conds.dotturn" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
							</div>
						</div>
					</div>
					<div class="item clrFont drc jcs wpw" v-if="tab.skillFilter == 8">
						<div class="NaviColumn jcb wpw">
							<a class="w4 Toggle" @click="toggleAll('coverturn')">回合</a>
							<div class="CondBar jca">
								<a class="wf Toggle" v-for="c of conds.coverturn" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
							</div>
						</div>
						<div class="NaviColumn jcb wpw">
							<a class="w4 Toggle" @click="toggleAll('coverpercent')">比例</a>
							<div class="CondBar drc jca">
								<div class="wf jca">
									<a class="wf Toggle min" v-for="c of conds.coverpercent" v-if="c.g == 0" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
								</div>
								<div class="wf jca">
									<a class="wf Toggle min" v-for="c of conds.coverpercent" v-if="c.g == 1" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
								</div>
							</div>
						</div>
					</div>
					<div class="item clrFont drc jcs wpw" v-if="tab.skillFilter == 9">
						<div class="NaviColumn jcb wpw">
							<a class="w4 Toggle" @click="toggleAll('enchtarget')">目标</a>
							<div class="CondBar jca">
								<a class="wf Toggle" v-for="c of conds.enchtarget" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
							</div>
						</div>
						<div class="NaviColumn jcb wpw">
							<a class="w4 Toggle" @click="toggleAll('enchtype')">属性</a>
							<div class="CondBar jca">
								<a class="wf Toggle" v-for="c of conds.enchtype" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
							</div>
						</div>
						<div class="NaviColumn jcb wpw">
							<a class="w4 Toggle" @click="toggleAll('enchturn')">回合</a>
							<div class="CondBar jca">
								<a class="wf Toggle" v-for="c of conds.enchturn" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
							</div>
						</div>
					</div>
					<div class="item clrFont drc jcs wpw" v-if="tab.skillFilter == 10">
						<div class="NaviColumn jcb wpw">
							<a class="w4 Toggle" @click="toggleAll('adeftarget')">目标</a>
							<div class="CondBar jca">
								<a class="wf Toggle" v-for="c of conds.adeftarget" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
							</div>
						</div>
						<div class="NaviColumn jcb wpw">
							<a class="w4 Toggle" @click="toggleAll('adeftype')">属性</a>
							<div class="CondBar jca">
								<a class="wf Toggle" v-for="c of conds.adeftype" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
							</div>
						</div>
						<div class="NaviColumn jcb wpw">
							<a class="w4 Toggle" @click="toggleAll('adefturn')">回合</a>
							<div class="CondBar jca">
								<a class="wf Toggle" v-for="c of conds.adefturn" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
							</div>
						</div>
					</div>
					<div class="item clrFont drc jcs wpw" v-if="tab.skillFilter == 11">
						<div class="NaviColumn jcb wpw">
							<a class="w4 Toggle" @click="toggleAll('ajamtarget')">目标</a>
							<div class="CondBar jca">
								<a class="wf Toggle" v-for="c of conds.ajamtarget" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
							</div>
						</div>
						<div class="NaviColumn jcb wpw">
							<a class="w4 Toggle" @click="toggleAll('ajamtype')">属性</a>
							<div class="CondBar jca">
								<a class="wf Toggle" v-for="c of conds.ajamtype" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
							</div>
						</div>
						<div class="NaviColumn jcb wpw">
							<a class="w4 Toggle" @click="toggleAll('ajamturn')">回合</a>
							<div class="CondBar jca">
								<a class="wf Toggle" v-for="c of conds.ajamturn" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
							</div>
						</div>
					</div>
					<div class="item clrFont drc jcs wpw" v-if="tab.skillFilter == 12">
						<div class="NaviColumn jcb wpw">
							<a class="w4 Toggle" @click="toggleAll('dealbonus')">抽卡</a>
							<div class="CondBar jca">
								<a class="wf Toggle" v-for="c of conds.dealbonus" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
							</div>
						</div>
						<div class="NaviColumn jcb wpw">
							<a class="w4 Toggle" @click="toggleAll('release')">解除</a>
							<div class="CondBar jca">
								<a class="wf Toggle" v-for="c of conds.release" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
							</div>
						</div>
						<div class="NaviColumn jcb wpw">
							<a class="w4 Toggle" @click="toggleAll('reflect')">反射</a>
							<div class="CondBar jca">
								<a class="wf Toggle" v-for="c of conds.reflect" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
							</div>
						</div>
						<div class="NaviColumn jcb wpw">
							<a class="w4 Toggle" @click="toggleAll('rsistype')">抗性</a>
							<div class="CondBar jca">
								<a class="wf Toggle" v-for="c of conds.rsistype" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
							</div>
						</div>
						<div class="NaviColumn jcb wpw">
							<a class="w4 Toggle" @click="toggleAll('atostype')">自残</a>
							<div class="CondBar jca">
								<a class="wf Toggle" v-for="c of conds.atostype" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
							</div>
						</div>
						<div class="NaviColumn jcb wpw">
							<a class="w4 Toggle" @click="toggleAll('other')">其他</a>
							<div class="CondBar jca">
								<a class="wf Toggle" v-for="c of conds.other" @click="toggle($event, c)" :class = "c.on? 'on': 'off'">{{c.text}}</a>
							</div>
						</div>
					</div>
				</div>
				<div class="item drc jcs wpw" v-show="tab.dash == 3">
					<div class="drc jcs wpw fs11" style="width: 100%;">
						由于多说即将关闭，友言不支持https，网易云一堆BUG无法导入评论，畅言要备案。<br>
						逼于无奈将评论系统迁移至Disqus，国内无法访问，需要翻墙。<br>
						正在研究解决方案，Disqus有开发API，大概可以利用API通过服务器代理下来。
					</div>
					<div class="drc jcs wpw" style="width: 100%; overflow-x: hidden; overflow-y: visible;">
						<div id="disqus_thread" style="width: 95%;" ></div>
					</div>
				</div>
				<div class="item tabBox more drc wpw" v-if="tab.dash == 4">
					<div class="headBox jca aih">
						<div class="head" @click="tab.about = 1" :class="{ active: tab.about == 1 }">使用技巧</div>
						<div class="head" @click="tab.about = 2" :class="{ active: tab.about == 2 }">友情链接</div>
						<div class="head" @click="tab.about = 3" :class="{ active: tab.about == 3 }">关于</div>
					</div>
					<div class="item clrFontDark fs20 drc jcb wpw" v-if="tab.about == 3">
						<div>
							<span class="fs24 fsb clrFont">K</span>airi&nbsp;
							<span class="fs24 fsb clrFont">Q</span>uery
						</div>
						<div>
							乖离型MA的
							<span class="fs24 fsb clrFont">坑</span>
						</div>
						<div>
							查卡牌数据的
							<span class="fs24 fsb clrFont">工具</span>
						</div>
						<div>
							基于文件解包的
							<span class="fs24 fsb clrFont">数据</span>
						</div>
						<div>
							强迫症患者的
							<span class="fs24 fsb clrFont">制作</span>
						</div>
						<div>
							毫无艺术细胞的
							<span class="fs24 fsb clrFont">页面设计</span>
						</div>
						<div>
							<span class="fs24 fsb clrFont">无耻地</span>
							使用<span class="fs24 fsb clrFont">Github</span>作为图片服务器
						</div>
						<div>
							Make&nbsp;by&nbsp;
							<span class="fs24 fsb clrFont">DanoR</span>
						</div>
					</div>
					<div class="item clrFont drc wpw" v-if="tab.about == 1">
						<div class="NaviColumn jcs wpw">
							加入了一些快捷键支持，感觉比较隐蔽干脆来一发教程吧。
						</div>
						<div class="NaviColumn hr jcs wpw">
							条件筛选<a class="Toggle on" href="http://ww4.sinaimg.cn/large/627ab2d1gw1f9eota2x5fg208w050wgp.gif" target="_blank">演示GIF</a>
						</div>
						<div class="NaviColumn jcs wpw">
							1、点击“总称”：全选、全反选<br>
							2、Ctrl+点击：单选<br>
							3、Shift+点击：单反选<br>
						</div>
						<div class="NaviColumn hr jcs wpw">
							翻页<a class="Toggle on" href="http://ww4.sinaimg.cn/large/627ab2d1gw1f9eota4ck6g208w050q51.gif" target="_blank">演示GIF</a>
						</div>
						<div class="NaviColumn jcs wpw">
							1、点击当前页码可以输入页码，回车跳页<br>
							2、J（PageUp）、K（PageDown）上下翻页<br>
							3、N（Home）、M（End）跳到第一页与最后一页
						</div>
						<div class="NaviColumn hr jcs wpw">
							搜索框<a class="Toggle on" href="http://ww3.sinaimg.cn/large/627ab2d1gw1f9eota484rg208w050gmc.gif" target="_blank">演示GIF</a>
						</div>
						<div class="NaviColumn jcs wpw">
							1、Shift+S：聚集到搜索框<br>
							2、回车：搜索<br>
							3、在搜索框，Shift+回车：重置所有条件（关键词除外）
							4、不在搜索框，Shift+回车：重置所有条件（包括关键词）
						</div>
						<div class="NaviColumn hr jcs wpw">
							切换标签<a class="Toggle on" href="http://ww3.sinaimg.cn/large/627ab2d1gw1f9eotahfqsg208w050tbr.gif" target="_blank">演示GIF</a>
						</div>
						<div class="NaviColumn jcs wpw">
							1、Q~Q~Q~Q~Q~(浏览器有兼容问题就不再用Tab了)<br>
							2、Shift+Q反向（虽然目测只有两个Tab并没有什么卵用o_O）<br>
						</div>
					</div>
					<div class="item clrFont drc jcs wpw" v-if="tab.about == 2">
						<div class="NaviColumn jcs wpw">
							欢迎交换友链233
						</div>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript">
			window.pre = { serv: '${serv}', word: '${word}', mark: '${mark}', page: ~~'${page}' }
		</script>
		<script type="text/javascript" src="pub/js/vue.min.js"></script>
		<script type="text/javascript" src="pub/js/socket.io.js"></script>

		<script type="text/javascript" src="kq/js/key.js"></script>
		<script type="text/javascript" src="kq/js/app.js"></script>
		<script type="text/javascript" src="kq/js/io.js"></script>

		<!--<script>
			var disqus_config = function () {
				this.page.url = 'https://danor.top/kq';
				this.page.identifier = 1;
			};
			(function() {
				var d = document, s = d.createElement('script');
				s.src = 'https://kairiquery.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
			})();
		</script>-->

		<!--<div style="display: none"><script src="https://s11.cnzz.com/z_stat.php?id=1260330116&web_id=1260330116" language="JavaScript"></script></div>-->
	</body>
</html>