@keyframes naviClose {
	100% {
		width: 10%
	}
}
@keyframes naviOpen {
	100% {
		width: 30%;
	}
}

.aniClose {
	animation: naviClose 1s;
	animation-fill-mode: forwards;
}
.aniOpen {
	animation: naviOpen 1s;
	animation-fill-mode: forwards;
}