html, body, #home {
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

* {
	text-shadow: 0em 0em 0.0001em !important;
	font-family: "Microsoft YaHei", sans-serif !important;
}

.nosel {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

::-webkit-input-placeholder { color: snow; }
:-moz-placeholder { color: snow; }
::-moz-placeholder { color: snow; }
:-ms-input-placeholder { color: snow; }