html, body, #home {
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

* {
	text-shadow: 0em 0em 0.0001em !important;
	font-family: "Microsoft YaHei", sans-serif !important;

	transition-property: all;
	transition-duration: 0.4s;

	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}

.nosel {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

::-webkit-input-placeholder { color: snow; }
:-moz-placeholder { color: snow; }
::-moz-placeholder { color: snow; }
:-ms-input-placeholder { color: snow; }