html {
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	overflow-y: auto;
}
body, #home {
	margin: 0px;
	padding: 0px;
}

#home *:not(.pop) {
	text-shadow: 0em 0em 0.0001em !important;
	font-family: "Microsoft YaHei", sans-serif !important;

	transition-property: all;
	transition-duration: 0.4s;

	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);

	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.nosel {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.sel {
	user-select: text !important;
	-moz-user-select: text !important;
	-webkit-user-select: text !important;
	cursor: text !important;
}

samp {
	border-bottom: 1px dashed #888888;
	cursor: help;
}

::-webkit-input-placeholder { color: snow; }
:-moz-placeholder { color: snow; }
::-moz-placeholder { color: snow; }
:-ms-input-placeholder { color: snow; }