#submain>div>span {
	color: red;
}

.mainBox {
	height: 100%;
	width: 100%;

	flex: 1
}

/*-------recoBox-------*/
.recoBox {
	width: 100%;
	height: 95%;
}
.recoBox>.reco {
	border: 2px solid transparent;
	border-bottom: 2px solid #222222;
	border-radius: 4px;

	width: 99%;
	height: 24%;
	max-height: 150px;
}

.recoBox>.reco>.thumbBox {
	width: 15%;
	height: 100%;
}
.recoBox>.reco>.thumbBox>.thumb {
	max-height: 90%;
	max-width: 90%;

	width: auto;
}

.recoBox>.reco>.databox {
	width: 30%;
	height: 100%;
}
.recoBox>.reco>.databox>span {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.recoBox>.reco>.databox>.title::before {
	content: '<'
}
.recoBox>.reco>.databox>.title::after {
	content: '>'
}
.recoBox>.reco>.databox>table {
	border-radius: 4px;
	border-collapse:collapse;
}
.recoBox>.reco>.databox>table td {
	text-align: center;
	border: 2px solid #34495e;
}

.recoBox>.reco>.skillBox {
	width: 55%;
	height: 100%;
}

/*-------tabBox-------*/
.tabBox {
	width: 100%;
	height: 100%;
}

/*-------tabBox.Skill-------*/
.tabBox.Skill>.headBox {
	width: 12%;
	height: 100%;
}
.tabBox.Skill>.headBox>.head {
	margin: 3px;
	min-width: 30px;

	padding: 4px;
	padding-left: 3px;
	padding-right: 3px;

	border: 2px solid #34495e;
	border-radius: 4px;

	color: #557799;

	text-align: center;

	cursor: pointer;
}
.tabBox.Skill>.headBox>.head.active {
	border: 2px solid #557799;

	color: #E0E2E4;
	background-color: #557799;
}
.tabBox.Skill>.item {
	width: 85%;
	height: 95%;
	border-radius: 4px;
	overflow: hidden;
}

/*-------tabBox.SkillContent-------*/
.tabBox.SkillContent>.headBox {
	width: 99%;
	height: 30%;
}
.tabBox.SkillContent>.headBox>.head {
	width: 100%;
	height: 100%;

	border: 2px solid transparent;
	border-radius: 4px 4px 0px 0px;

	text-align: center;
}
.tabBox.SkillContent>.headBox>.head.active {
	border: 2px solid #148474;

	background-color: #148474;
}
.tabBox.SkillContent>.headBox>.head:first-child {
	width: 24%;
	margin-left: -2px;
}
.tabBox.SkillContent>.headBox>.head:last-child {
	width: 100%;
	margin-right: -2px;
}

.tabBox.SkillContent>.itemBox {
	width: 99%;
	height: 65%;

	border: 2px solid #148474;

	overflow: hidden;
}
.tabBox.SkillContent>.itemBox>.item {
	width: 100%;
	height: 100%;

	overflow-x: hidden;
	overflow-y: auto;
}

.tabBox.SkillContent>.itemBox>.item>.role {
	display: block;
	border-left: 14px solid transparent;
}
.tabBox.SkillContent>.itemBox>.item>.clear {
	display: block;
	height: 4px;
}

/*-------pageBox-------*/
.pageBox {
	width: 100%;
	height: 5%;
}
.pageBox>.prev, .pageBox>.next {
	width: 33%;

	cursor: pointer;
}
.pageBox>.count {
	width: 33%;
}
.pageBox>.count>* {
	padding-top: 1px;
}
.pageBox>.count>input {
	width: 40px;
	padding-top: 3px;

	text-align: center;

	color: #E0E2E4;
	background-color: #293134;

	cursor: auto;
}
.pageBox>.count>input:focus {
	border-bottom: 1px solid #E0E2E4;
}

/*-------tabBox.dash-------*/
.tabBox.dash {
	height: 100%;
	width: 450px;

	overflow: hidden;
	overflow-y: auto;
}
.tabBox.dash>.headBox {
	width: 100%;
	height: 45px;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);

	background-color: #34495e;
}
.tabBox.dash>.headBox>.head {
	width: 100%;

	border: 2px solid #34495e;

	margin: 0;
	margin-right: 2px;

	color: #E0E2E4;

	cursor: pointer;
}
.tabBox.dash>.headBox>.head:hover {
	border-bottom: 2px solid #148474;
}
.tabBox.dash>.headBox>.head.active {
	border-radius: 4px;
	border: 2px solid #148474;
	background-color: #148474;
}
.tabBox.dash>.headBox>.item {
	height: 93%;
	width: 100%;
}
.tabBox.dash>.item {
	height: 80%;
	width: 100%;

	flex: 1;
}

/*-------tabBox.skillType-------*/
.tabBox.skillType>.headBox {
	width: 90%;
	height: 34px;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);

	background-color: #34495e;
}
.tabBox.skillType>.headBox>.head {
	width: 100%;

	border: 2px solid #34495e;

	margin: 0;
	margin-right: 2px;

	color: #E0E2E4;

	cursor: pointer;
}
.tabBox.skillType>.headBox>.head:hover {
	border-top: 2px solid #148474;
}
.tabBox.skillType>.headBox>.head:hover, .tabBox.skillType>.headBox>.head.active {
	border-radius: 4px;
	border: 2px solid #148474;
	background-color: #148474;
}
.tabBox.skillType>.item {
	height: 50%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: visible;
}

/*-------tabBox.more-------*/
.tabBox.more>.headBox {
	width: 90%;
	height: 34px;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);

	background-color: #34495e;
}
.tabBox.more>.headBox>.head {
	width: 100%;

	border: 2px solid #34495e;

	margin: 0;
	margin-right: 2px;

	color: #E0E2E4;

	cursor: pointer;
}
.tabBox.more>.headBox>.head:hover {
	border-top: 2px solid #148474;
}
.tabBox.more>.headBox>.more:hover, .tabBox.more>.headBox>.head.active {
	border-radius: 4px;
	border: 2px solid #148474;
	background-color: #148474;
}
.tabBox.more>.item {
	height: 92%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: visible;
}

/*-------Column-------*/
.NaviColumnSpace {
	width: 90%;
	height: 24px;
	min-height: 24px;
}
.NaviColumn {
	width: 90%;
	height: auto;
	min-height: 45px;
}
.NaviColumn2x {
	width: 90%;
	height: auto;
	min-height: 90px;
}
.NaviColumn3x {
	width: 90%;
	height: auto;
	min-height: 135px;
}

/*-------Toggle-------*/
.Toggle {
	margin: 3px;
	min-width: 30px;

	border: 2px solid #34495e;
	color: #E0E2E4;

	padding: 4px;
	padding-left: 3px;
	padding-right: 3px;

	border-radius: 4px;

	text-align: center;

	cursor: pointer;
}
.Toggle.on, .Toggle.on:hover, .Toggle.off:hover {
	border-color: #557799;

	background-color: #557799;
}
.Toggle.off {
	border-color: #4a6b8c;
}
.Toggle.min {
	min-width: 24px;
}

.CondBar {
	width: 77%;
	height: auto;
	border-left: 2px solid #E0E2E4;
	padding-left: 4px;
}
.CondBar2 {
	width: 77%;
	height: auto;
}
.Conds {
	width: 100%;
	height: 14%;
}

#Search {
	margin: 3px;
	min-width: 30px;

	border: 2px solid #557799;

	padding: 4px;
	padding-left: 3px;
	padding-right: 3px;

	border-radius: 4px;

	text-align: center;

	color: #E0E2E4;
	background-color: #557799;

	cursor: pointer;
}
#CondName {
	margin: 3px;

	min-width: 30px;
	height: 33px;

	border: 2px solid #557799;

	padding: 4px;
	padding-left: 3px;
	padding-right: 3px;

	border-radius: 4px;

	text-align: center;
	color: #557799;

	cursor: auto;
}

/*-------tabBox.serv-------*/
.tabBox.serv {
	height: 2%;
	width: 60%;
}
.tabBox.serv>.head {
	margin: 3px;
	width: 25px;

	border: 2px solid #34495e;
	color: #557799;

	padding: 4px;
	padding-left: 3px;
	padding-right: 3px;

	border-radius: 4px;

	text-align: center;

	cursor: pointer;
}
.tabBox.serv>.head.active {
	border: 2px solid #557799;

	color: #E0E2E4;
	background-color: #557799;
}
.tabBox.serv>span {
	width: 100px;
}