#sub__name__>div {
	position: relative;
}

/*-------tabBox.dash-------*/
#sub__name__ .tabBox.dash {
	height: 100%;
	width: 450px;

	position: absolute;
	top: 0px;
	right: 0px;

	overflow: hidden;

	transform: translate3d(430px, 0, 0);
	transition:transform 0.7s;
}
#sub__name__ .tabBox.dash.open {
	transform: translate3d(0, 0, 0);
}

#sub__name__ .tabBox.dash>.sideBox {
	height: 100%;
	width: 20px;

	z-index: 1;
	border: solid 1px #148474;
	border-radius: 4px;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}
#sub__name__ .tabBox.dash>.dashBox {
	height: 100%;
	width: 100%;
}

#sub__name__ .tabBox.dash>.dashBox>.headBox {
	width: 100%;
	height: 45px;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);

	background-color: #34495e;
}
#sub__name__ .tabBox.dash>.dashBox>.headBox>.head {
	width: 100%;

	border: 2px solid #34495e;

	margin: 0;
	margin-right: 2px;

	color: #E0E2E4;

	cursor: pointer;
}
#sub__name__ .tabBox.dash>.dashBox>.headBox>.head:hover {
	border-bottom: 2px solid #148474;
}
#sub__name__ .tabBox.dash>.dashBox>.headBox>.head.active {
	border-radius: 4px;
	border: 2px solid #148474;
	background-color: #148474;
}
#sub__name__ .tabBox.dash>.dashBox>.headBox>.item {
	height: 93%;
	width: 100%;
}
#sub__name__ .tabBox.dash>.dashBox>.item {
	height: 80%;
	width: 100%;

	flex: 1;

	overflow-x: hidden;
	overflow-y: auto;
}

/*-------recoBox-------*/
#sub__name__ .recoBox {
	width: 100%;
	height: 100%;
}
#sub__name__ .recoBox>.reco {
	border: 2px solid transparent;
	border-bottom: 2px solid #222222;
	border-radius: 4px;

	width: 100%;
	height: 25%;
	max-height: 150px;
}

#sub__name__ .recoBox>.reco>.thumbBox {
	width: 10%;
	height: 100%;
}
#sub__name__ .recoBox>.reco>.thumbBox>.thumb {
	max-height: 90%;
	max-width: 90%;

	width: auto;
}

#sub__name__ .recoBox>.reco>.databox {
	width: 20%;
	height: 100%;
}
#sub__name__ .recoBox>.reco>.databox>span {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#sub__name__ .recoBox>.reco>.databox>.title::before {
	content: '<'
}
#sub__name__ .recoBox>.reco>.databox>.title::after {
	content: '>'
}
#sub__name__ .recoBox>.reco>.databox>table {
	border-radius: 4px;
	border-collapse:collapse;
}
#sub__name__ .recoBox>.reco>.databox>table td {
	text-align: center;
	border: 2px solid #34495e;
}

#sub__name__ .recoBox>.reco>.skillBox {
	width: 34%;
	height: 100%;
}

/*-------tabBox-------*/
#sub__name__ .tabBox {
	width: 100%;
	height: 100%;
}

/*-------tabBox.Skill-------*/
#sub__name__ .tabBox.Skill>.headBox {
	width: 12%;
	height: 100%;
}
#sub__name__ .tabBox.Skill>.headBox>.head {
	margin: 1px;
	min-width: 30px;

	padding: 3px;

	border: 2px solid #34495e;
	border-radius: 4px;

	color: #557799;

	text-align: center;

	cursor: pointer;
}
#sub__name__ .tabBox.Skill>.headBox>.head.active {
	border: 2px solid #557799;

	color: #E0E2E4;
	background-color: #557799;
}
#sub__name__ .tabBox.Skill>.item {
	width: 85%;
	height: 95%;
	border-radius: 4px;
	overflow: hidden;
}

/*-------tabBox.SkillContent-------*/
#sub__name__ .tabBox.SkillContent>.headBox {
	width: 99%;
	height: 30%;
}
#sub__name__ .tabBox.SkillContent>.headBox>.head {
	width: 100%;
	height: 100%;

	border: 2px solid transparent;
	border-radius: 4px 4px 0px 0px;

	text-align: center;
}
#sub__name__ .tabBox.SkillContent>.headBox>.head.active {
	border: 2px solid #148474;

	background-color: #148474;
}
#sub__name__ .tabBox.SkillContent>.headBox>.head:first-child {
	width: 24%;
	margin-left: -2px;
}
#sub__name__ .tabBox.SkillContent>.headBox>.head:last-child {
	width: 100%;
	margin-right: -2px;
}

#sub__name__ .tabBox.SkillContent>.itemBox {
	width: 99%;
	height: 65%;

	border: 2px solid #148474;

	overflow: hidden;
}
#sub__name__ .tabBox.SkillContent>.itemBox>.item {
	width: 100%;
	height: 100%;

	overflow-x: hidden;
	overflow-y: auto;
}

#sub__name__ .tabBox.SkillContent>.itemBox>.item>.role {
	display: block;
	border-left: 14px solid transparent;
}
#sub__name__ .tabBox.SkillContent>.itemBox>.item>.clear {
	display: block;
	height: 4px;
}

/*-------pageBox-------*/
#sub__name__ .pageBox {
	width: 100%;
	height: 5%;
}
#sub__name__ .pageBox>.prev, .pageBox>.next {
	width: 33%;

	cursor: pointer;
}
#sub__name__ .pageBox>.count {
	width: 33%;
}
#sub__name__ .pageBox>.count>* {
	padding-top: 1px;
}
#sub__name__ .pageBox>.count>input {
	width: 40px;

	font-size: 14px;
	text-align: center;

	color: #E0E2E4;
	background-color: transparent;

	cursor: auto;
}
#sub__name__ .pageBox>.count>input:focus {
	border-bottom: 1px solid #E0E2E4;
}

/*-------tabBox.skillType-------*/
#sub__name__ .tabBox.skillType>.headBox {
	width: 90%;
	height: 34px;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);

	background-color: #34495e;
}
#sub__name__ .tabBox.skillType>.headBox>.head {
	width: 100%;

	border: 2px solid #34495e;

	margin: 0;
	margin-right: 2px;

	color: #E0E2E4;

	cursor: pointer;
}
#sub__name__ .tabBox.skillType>.headBox>.head:hover {
	border-top: 2px solid #148474;
}
#sub__name__ .tabBox.skillType>.headBox>.head:hover, .tabBox.skillType>.headBox>.head.active {
	border-radius: 4px;
	border: 2px solid #148474;
	background-color: #148474;
}
#sub__name__ .tabBox.skillType>.item {
	height: 100%;
	width: 100%;

	flex: 1;

	overflow-x: hidden;
	overflow-y: auto;
}

/*-------tabBox.more-------*/
#sub__name__ .tabBox.more>.headBox {
	width: 90%;
	height: 34px;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);

	background-color: #34495e;
}
#sub__name__ .tabBox.more>.headBox>.head {
	width: 100%;

	border: 2px solid #34495e;

	margin: 0;
	margin-right: 2px;

	color: #E0E2E4;

	cursor: pointer;
}
#sub__name__ .tabBox.more>.headBox>.head:hover {
	border-top: 2px solid #148474;
}
#sub__name__ .tabBox.more>.headBox>.more:hover, .tabBox.more>.headBox>.head.active {
	border-radius: 4px;
	border: 2px solid #148474;
	background-color: #148474;
}
#sub__name__ .tabBox.more>.item {
	height: 92%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: visible;
}

/*-------Column-------*/
#sub__name__ .NaviColumnSpace {
	width: 90%;
	height: 24px;
	min-height: 24px;
}
#sub__name__ .NaviColumn {
	width: 90%;
	height: auto;
	min-height: 45px;
}
#sub__name__ .NaviColumn2x {
	width: 90%;
	height: auto;
	min-height: 90px;
}
#sub__name__ .NaviColumn3x {
	width: 90%;
	height: auto;
	min-height: 135px;
}

/*-------Toggle-------*/
#sub__name__ .Toggle {
	margin: 3px;
	min-width: 30px;

	border: 2px solid #34495e;
	color: #E0E2E4;

	padding: 4px;
	padding-left: 3px;
	padding-right: 3px;

	border-radius: 4px;

	text-align: center;

	cursor: pointer;
}
#sub__name__ .Toggle.on, .Toggle.on:hover, .Toggle.off:hover {
	border-color: #557799;

	background-color: #557799;
}
#sub__name__ .Toggle.off {
	border-color: #557799;
}
#sub__name__ .Toggle.min {
	min-width: 24px;
}

#sub__name__ .CondBar {
	width: 77%;
	height: auto;
	border-left: 2px solid #E0E2E4;
	padding-left: 4px;
}
#sub__name__ .CondBar2 {
	width: 77%;
	height: auto;
}
#sub__name__ .Conds {
	width: 100%;
	height: 14%;
}

#sub__name__ #Search {
	margin: 3px;
	min-width: 30px;

	border: 2px solid #557799;

	padding: 4px;
	padding-left: 3px;
	padding-right: 3px;

	border-radius: 4px;

	text-align: center;

	color: #E0E2E4;
	background-color: #557799;

	cursor: pointer;
}
#sub__name__ #CondName {
	margin: 3px;

	min-width: 30px;
	height: 33px;

	border: 2px solid #557799;

	padding: 4px;
	padding-left: 3px;
	padding-right: 3px;

	border-radius: 4px;

	text-align: center;
	color: #557799;

	cursor: auto;
}

/*-------tabBox.serv-------*/
#sub__name__ .tabBox.serv {
	height: 2%;
	width: 45%;
}
#sub__name__ .tabBox.serv>.head {
	margin: 3px;
	width: 20px;

	border: 2px solid #34495e;
	color: #557799;

	padding: 4px;
	padding-left: 3px;
	padding-right: 3px;

	border-radius: 4px;

	text-align: center;

	cursor: pointer;
}
#sub__name__ .tabBox.serv>.head.active {
	border: 2px solid #557799;

	color: #E0E2E4;
	background-color: #557799;
}
#sub__name__ .tabBox.serv>span {
	width: 100px;
}